<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="context-path" th:content="@{/}" />
  <title>DEEP - Guidelines</title>
  <link rel="icon" th:href="@{/admin/images/DEEP Logo.png}" type="image/png">
  <link th:href="@{/css/output.css}" rel="stylesheet">
</head>

<body class="min-h-screen" style="background: linear-gradient(to bottom, #FFFFFF, #D4DFED);">
<div class="mx-auto">
  <!-- Header -->
  <div th:replace="~{common/student-navbar::student-navbar}"></div>
</div>

<!-- Main Content -->
<main class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12">
  <div class="max-w-4xl mx-auto text-center mb-12">
    <h1 class="text-3xl sm:text-4xl font-bold text-blue-800 mb-2">Student Guidelines</h1>
    <p class="text-blue-700 text-sm sm:text-base">Follow these Points carefully before submitting your preferences.</p>
  </div>

  <!-- Guidelines Timeline -->
  <div class="sm:px-10 max-w-5xl mx-auto">
    <div id="guidelineTimeline" class="relative border-l-4 border-blue-400 ml-5 space-y-10">
      <!-- JS will populate guideline steps here -->
    </div>
  </div>
</main>

<!-- Footer -->
<footer id="contact-section" class="bg-gray-800 text-white py-8 px-10 w-full">
  <div class="max-w-6xl mx-auto">
    <div class="grid sm:grid-cols-2 gap-3 sm:gap-8">
      <div>
        <h3 class="text-2xl font-bold mb-4">DEEP</h3>
        <p class="text-gray-400 text-xs md:text-base mb-4">
          DAU Elective Enrollment Portal - Making course selection simple and efficient for students.
        </p>
      </div>

      <div class="sm:text-right">
        <h4 class="text-lg font-semibold mb-2">Contact</h4>
        <div class="md:space-y-2 text-gray-400">
          <p class="flex items-center justify-start sm:justify-end space-x-2">
            <img th:src="@{/student/images/mail.svg}" alt="guidelines Icon" class="w-4 md:w-5 h-4 md:h-5 mt-1 text-blue-600">
            <span class="text-xs md:text-base">electives@dau.ac.in</span>
          </p>
          <p class="flex items-center justify-start sm:justify-end space-x-2">
            <img th:src="@{/student/images/location_on.svg}" alt="guidelines Icon" class="w-4 md:w-5 h-4 md:h-5 mt-1 text-blue-600">
            <span class="text-xs md:text-base">DAU Campus, Gandhinagar</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="module" th:src="@{/utils/general-utility.js}"></script>
<script th:src="@{/utils/navbar.js}"></script>
<script type="module" th:src="@{/student/js/guidelines.js}"></script>
</body>
</html>
