<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="context-path" th:content="@{/}" />
    <title>DEEP - Download Reports</title>
    <link rel="icon" th:href="@{/admin/images/DEEP Logo.png}" type="image/png">
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>

<body class="relative min-h-screen" style="background: linear-gradient(to bottom, #FFFFFF, #D4DFED);">

<!-- Toast Display -->
 <div th:replace="~{common/toast-display::toast-display}"></div>

<!-- Header -->
 <div th:replace="~{common/admin-navbar::admin-navbar}"></div>

<!-- Main Content -->
<main class="backdrop-blur-lg rounded-3xl px-7 py-4">
    <div class="mx-auto">
        <div class="bg-white rounded-2xl py-2 px-7 md:px-9 mb-6"
             style="box-shadow: 0px 2px 27px -5px rgba(0,0,0,0.2);">
            <h1 class="text-xl lg:text-2xl font-bold text-[#1E3C72]">
                Download Reports
            </h1>
        </div>

        <!-- Export Course-wise allocation Section -->
        <div class="bg-white rounded-2xl shadow-md px-7 py-6 md:px-9 mb-6" style="box-shadow: 0px 2px 27px -5px rgba(0,0,0,0.2);">
            <!-- Section Header -->
            <div class="flex items-center mb-9">
                <img th:src="@{/admin/images/link-blue.svg}" alt="SVG Icon" class="w-5 h-5 mr-3">
                <h2 class="text-xl font-bold text-[#1E3C72]">Download Course wise Allotments</h2>
            </div>

            <div class="space-y-8">
                <!-- Course Data -->
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                    <div class="flex items-center mb-2 sm:mb-0">
                        <img th:src="@{/admin/images/course-data.svg}" alt="Course Icon" class="w-5 h-5 mb-4 mr-3">
                        <div>
                            <h3 class="font-bold text-[1.1rem] text-[#1E3C72]">Course-wise Allotments</h3>
                            <p class="text-xs text-gray-500">Download Data of Students in each course</p>
                        </div>
                    </div>
                    <form th:action="@{/admin/download-reports}" method="get">
                        <input type="hidden" name="name" value="course-allotments">
                        <button type="submit" data-file-name="course-allotments" class="input-download-btn bg-gradient-to-r from-[#27AE60] to-[#2ECC71] max-w-44 sm:max-w-auto text-white px-3 py-2 rounded-lg font-medium flex justify-center items-center cursor-pointer">
                            <img th:src="@{/admin/images/excel-file.svg}" alt="Excel Icon" class="w-5 h-5 mr-2">
                            Download ZIP
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Input Data Section -->
        <div class="bg-white rounded-2xl shadow-md px-7 py-6 md:px-9 mb-6"
             style="box-shadow: 0px 2px 27px -5px rgba(0,0,0,0.2);">
            <!-- Section Header -->
            <div class="flex items-center mb-9">
                <img th:src="@{/admin/images/link-blue.svg}" alt="SVG Icon" class="w-5 h-5 mr-3">
                <h2 class="text-xl font-bold text-[#1E3C72]">Download Input Data</h2>
            </div>

            <div class="space-y-8">
                <!-- Course Data -->
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                    <div class="flex items-center mb-2 sm:mb-0">
                        <img th:src="@{/admin/images/course-data.svg}" alt="Course Icon" class="w-5 h-5 mb-4 mr-3">
                        <div>
                            <h3 class="font-bold text-[1.1rem] text-[#1E3C72]">Course Data</h3>
                            <p class="text-xs text-gray-500">Download Course Data in Excel Format</p>
                        </div>
                    </div>
                    <form th:action="@{/admin/download-reports}" method="get">
                        <input type="hidden" name="name" value="course-data">
                        <button type="submit" data-file-name="course-data"
                                class="input-download-btn bg-gradient-to-r from-[#27AE60] to-[#2ECC71] max-w-44 sm:max-w-auto text-white px-3 py-2 rounded-lg font-medium flex justify-center items-center cursor-pointer">
                            <img th:src="@{/admin/images/excel-file.svg}" alt="Excel Icon" class="w-5 h-5 mr-2">
                            Download CSV
                        </button>
                    </form>
                </div>

                <!-- Institute Requirements -->
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                    <div class="flex items-center mb-2 sm:mb-0">
                        <img th:src="@{/admin/images/instititue-requirements.svg}" alt="institute Requirements Icon" class="w-5 h-5 mb-4 mr-3">
                        <div>
                            <h3 class="font-bold text-[1.1rem] text-[#1E3C72]">Institute Requirements</h3>
                            <p class="text-xs text-gray-500">Download Institute Requirements in Excel Format</p>
                        </div>
                    </div>
                    <form th:action="@{/admin/download-reports}" method="get">
                        <input type="hidden" name="name" value="institute-requirements">
                        <button type="submit" data-file-name="institute-requirements"
                                class="input-download-btn bg-gradient-to-r from-[#27AE60] to-[#2ECC71] max-w-44 sm:max-w-auto text-white px-3 py-2 rounded-lg font-medium flex justify-center items-center cursor-pointer">
                            <img th:src="@{/admin/images/excel-file.svg}" alt="Excel Icon" class="w-5 h-5 mr-2">
                            Download CSV
                        </button>
                    </form>
                </div>

                <!-- Seat Matrix -->
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                    <div class="flex items-center mb-2 sm:mb-0">
                        <img th:src="@{/admin/images/course-offerings-details.svg}" alt="Course Icon" class="w-5 h-5 mb-4 mr-3">
                        <div>
                            <h3 class="font-bold text-[1.1rem] text-[#1E3C72]">Seat Matrix Details</h3>
                            <p class="text-xs text-gray-500">Download Seat Matrix Details in Excel Format</p>
                        </div>
                    </div>
                    <form th:action="@{/admin/download-reports}" method="get">
                        <input type="hidden" name="name" value="seat-matrix">
                        <button type="submit" data-file-name="seat-matrix"
                                class="input-download-btn bg-gradient-to-r from-[#27AE60] to-[#2ECC71] max-w-44 sm:max-w-auto text-white px-3 py-2 rounded-lg font-medium flex justify-center items-center cursor-pointer">
                            <img th:src="@{/admin/images/excel-file.svg}" alt="Excel Icon" class="w-5 h-5 mr-2">
                            Download CSV
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Export Term Data Section -->
        <div class="bg-white rounded-2xl shadow-md px-7 py-6 md:px-9"
             style="box-shadow: 0px 2px 27px -5px rgba(0,0,0,0.2);">
            <!-- Section Header -->
            <div class="flex items-center mb-9">
                <img th:src="@{/admin/images/link-blue.svg}" alt="SVG Icon" class="w-5 h-5 mr-3">
                <h2 class="text-xl font-bold text-[#1E3C72]">Download Term Data</h2>
            </div>

            <div class="flex flex-col justify-between gap-6">
                <div class="flex-100 transition-width w-full bg-blue-100 rounded-2xl shadow-lg overflow-hidden">
                    <div id="downloadTermDataFragment" hidden></div>
                    <div id="downloadTableContainer"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="module" th:src="@{/utils/general-utility.js}"></script>
<script th:src="@{/utils/navbar.js}"></script>
<script type="module" th:src="@{/admin/js/download-reports.js}"></script>
</body>
</html>